@keyframes traffic {
    0% {background: red;}
    49% {background: red;}
    50% {background: yellow;}
    69% {background: yellow;}
    70%{background: rgb(18, 185, 18);;}
    100%{background: rgb(18, 185, 18);;}
}
@keyframes traffic1 {
    0% {background: red;}
    49% {background: red;}
    50% {background: yellow;}
    69% {background: yellow;}
    70%{background: rgb(18, 185, 18);;}
    100%{background: rgb(18, 185, 18);;}
}
@keyframes traffic2 {
    0% {background: rgb(18, 185, 18);}
    49% {background: rgb(18, 185, 18);}
    50% {background: yellow;}
    69% {background: yellow;}
    70%{background: red}
    100%{background: red;}
}
@keyframes traffic3 {
    0% {background: rgb(18, 185, 18);}
    49% {background: rgb(18, 185, 18);}
    50% {background: yellow;}
    69% {background: yellow;}
    70%{background: red}
    100%{background: red;}
}
body{
    height: 90vh;
}
#img{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#center{
    background-color: grey;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    position: absolute;
    top: 49.8%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#top{
    background-color: rgb(194, 26, 26);
    width: 120px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    top: 41%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: traffic 5s linear infinite;
}
#bottom{
    background-color: rgb(194, 26, 26);
    width: 120px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: traffic1 5s linear infinite;
}
#left{
    background-color: rgb(54, 185, 71);
    width: 80px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: 49.7%;
    left: 46%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: traffic2 5s linear infinite;
}
#right{
    background-color: rgb(54, 185, 71);
    width: 80px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: 49.7%;
    left: 54%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: traffic3 5s linear infinite;
}
